/* css rest */
body,
ul,
h1,
h2,
h3,
p,
figure {
  margin: 0;
}
ol,
ul {
  list-style: none;
}
button {
  padding: 0;
}
/* stop css rest */
body {
  font-family: "Times New";
  min-width: 1500px;
}
header {
  background-color: #eeeeee;
}
header h1 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 55px;
}
header h1 a {
  display: block;
}
header a img {
  vertical-align: top;
}
header .header-content {
  width: 1200px;
  margin: auto;
  padding: 20px 0 20px;
  font-size: 0;
}
header nav {
  vertical-align: middle;
  display: inline-block;
}
header nav a {
  text-decoration: none;
  color: #959595;
  /* margin: 0 75px; */
  font-size: 15px;
  display: inline-block;
  padding: 5px;
}
header nav :nth-child(n + 1):nth-child(-n + 5) {
  margin: 0 75px;
}
header a:hover {
  cursor: pointer;
  color: #f9961f;
}
main p {
  color: #585858;
}
main p,
article .article-conten p {
  font-size: 20px;
  line-height: 1.5;
}
main .maintext-content {
  width: 100%;
  background: #fdfdfd;
  padding-top: 50px;
}
main section {
  width: 1000px;
  margin: auto;
}
main article {
  padding: 50px 0 120px;
}
main .section-content {
  width: 490px;
  float: left;
}
main figure {
  width: 490px;
  float: right;
}
main .section-content h2 {
  font-size: 70px;
}
main .section-content h3 {
  font-size: 35px;
  line-height: 1.5;
}
main .button {
  width: 275px;
  margin: 50px auto 0;
}
main .section-content button {
  width: 275px;
  height: 70px;
  background: linear-gradient(#ffbb58 50%, #f9951e 50%);
  border-radius: 5px;
  color: white;
  font-size: 25px;
  border: 0;
}
main .section-content button:hover {
  cursor: pointer;
}
main .section-content span {
  font-size: 15px;
  line-height: 2;
}
main figure:hover {
  cursor: pointer;
}
.clearfix {
  clear: both;
}
main article .article-content {
  width: 1000px;
  column-count: 2;
  column-gap: 25px;
  margin: 0 auto;
}
main article h3 {
  font-size: 35px;
  line-height: 2;
  column-span: all;
}
main article .article-content p {
  margin-bottom: 20px;
}
main img {
  width: 100%;
}
footer {
  background: #eeeeee;
}
footer .footer-content {
  width: 1200px;
  margin: auto;
}
footer span {
  color: #585858;
  line-height: 100px;
}
footer ul {
  height: 100px;
  float: right;
}
footer a {
  display: inline-block;
}
footer img {
  width: 40px;
  height: 40px;
}
footer ul::before {
  width: 0;
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
footer li {
  display: inline-block;
  vertical-align: middle;
}
footer ul :nth-child(n + 1):nth-child(-n + 4) {
  margin-right: 5px;
}
footer li:hover {
  cursor: pointer;
}

/* .imgA{
    position: absolute;
    width:100%;
    top: 0;
    left: 0; 
    opacity: 0.3;
} */
